<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
	<testsuites>
		<testsuite name="REST API Test Suite">
			<directory suffix=".php">../test/</directory>
			<exclude>../test/getAuthToken.php</exclude>
			<exclude>../test/getRefreshToken.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
